*

!/agents/
!/apps/
!/docs/
!/helm/
!/mise.toml
!/mise.lock
!/mise.local.toml-example
!/pnpm-lock.yaml
!/pnpm-workspace.yaml
!/pyproject.toml
!/uv.lock

node_modules
.ruff-cache
dist
Dockerfile
.dockerignore
