/**
 * Copyright 2025 © BeeAI a Series of LF Projects, LLC
 * SPDX-License-Identifier: Apache-2.0
 */

.root {
  :global(.cds--actionable-notification__action-button.cds--btn--ghost) {
    padding-inline: $spacing-05;
    margin: 0;
    block-size: rem(48px);
    color: $link-primary;
    display: flex;
    align-items: center;
    &:hover {
      background-color: transparent;
      color: $link-primary;
    }
  }
}
