/**
 * Copyright 2025 © BeeAI a Series of LF Projects, LLC
 * SPDX-License-Identifier: Apache-2.0
 */

.root {
  display: flex;
}

.askForm {
  block-size: rem(64px);
  display: flex;
  align-items: center;
  background-color: $background-inverse;
  padding: $spacing-05;
}
