/**
 * Copyright 2025 © BeeAI a Series of LF Projects, LLC
 * SPDX-License-Identifier: Apache-2.0
 */

.root {
  background-color: $layer-inverse;
  padding-block-start: rem(104px);
  padding-block-end: rem(181px);
  color: $text-inverse;
}

.info {
  grid-column: 3/ -3;
  gap: $spacing-07;
  align-items: center;
}

.graphics {
  --color-1: #21272a;
  --color-2: #4d5358;
  --color-3: #878d96;
  --color-4: #ffffff;
  --color-5: #ffffff;
  --color-6: #878d96;
  --color-7: #21272a;
  --color-8: #343a3f;
  --color-9: #4d5358;

  :global(.cds--g90) & {
    --color-1: #f2f4f8;
    --color-2: #878d96;
    --color-3: #c1c7cd;
    --color-4: #000000;
    --color-5: #ffffff;
    --color-6: #878d96;
    --color-7: #dde1e6;
    --color-8: #a2a9b0;
    --color-9: #a2a9b0;
  }

  display: flex;
  inline-size: 130%;

  svg {
    max-inline-size: rem(622px);
  }
}

.features {
  grid-column: 3/ -3;
  margin-block-start: rem(96px);

  li {
    span {
      color: $text-muted-inverse;
    }
    strong {
      color: $text-inverse;
    }
  }
}

@include breakpoint-down(md) {
  .info {
    display: flex;
    flex-direction: column;
    grid-column: 2/ -2;
    gap: $spacing-09;
    align-items: flex-start;
  }
  .features {
    grid-column: 2/ -2;
  }
  .graphics {
    inline-size: 100%;
  }
}
