/**
 * Copyright 2026 © BeeAI a Series of LF Projects, LLC
 * SPDX-License-Identifier: Apache-2.0
 */

@use "./common" as *;
@use "components";

body {
    font-family: "IBM Plex Sans", "Helvetica Neue", Arial, sans-serif;
    background-image: none !important;
    background-color: $background !important;
    margin: 0;
    padding: 0;
}
